header {
	border-bottom: 2px solid #000000;
	display: inline-block;
	margin-left: 2.5em;
	margin-right: 2em;
	padding-left: 0.5em;
	padding-right: 3em;
	padding-top: 4em;
	padding-bottom: 1em;
}

 h1,  p {
	margin: 0;
}

p {
	color: rgba(0, 0, 0, 0.7);
}

img {
	border-radius: 0.5em;
}

.collection {
	padding-left: 3em;
	padding-right: 3em;
	margin-top: 2em;
	margin-bottom: 2em;
}

.hpics {
	margin-left: -1em;
	margin-top: 1em;
	overflow-x: hidden;
}

.hpics > img {
	display: inline-block;
	margin-left: 0.5em;
	margin-right: 0.5em;
	max-height: 200px;
}

