---
layout: default
---

<main>
	{% assign albums = site.albums | where: "uid", page.album %}
	{% for album in albums %}
	<a class="link" href="{{ site.baseurl }}{{ album.id }}"><img src="/images/ic/back.svg"><span>Back to Album</span></a><br>
	{% endfor %}
	<img src="../{{ page.image }}" style="max-height: initial; width: 100%;">
	<small>&copy; 2018 <a href="/">James Fenn</a></small><br>
	<h2>{{ page.title }}</h2>
	<p>{{ page.description }}</p><br>
	<a class="link" href="{{ page.link }}"><img src="/images/ic/launch.svg"><span>View on Flickr</span></a>
	<a class="link" href="https://choosealicense.com/licenses/cc-by-sa-4.0/"><img src="/images/ic/copyright.svg"><span>CC-BY-SA License 4.0</span></a>
	<a class="link" href="../{{ page.image }}"><img src="/images/ic/download.svg"><span>Download</span></a>
	<h3>Colors</h3>
	<div class="grid" style="margin: 0;">
		{% for color in page.colors %}
		<div class="item link">
			<object class="round" style="background-color: {{ color }};"></object>
			<span>{{ color }}</span>
		</div>
		{% endfor %}
	</div>
</main>
